@import url("https://p.typekit.net/p.css?s=1&k=aec0lfw&ht=tk&f=34087.34088.34107.34108.34089.34090.34091.34093.34095.34096.34097.34099.34101.34102.34104.34106&a=33362826&app=typekit&e=css");

@font-face {
    font-family: "quasimoda-2";
    src: url("https://use.typekit.net/af/ac3b6f/00000000000000007735ded0/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/ac3b6f/00000000000000007735ded0/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3")
            format("woff"),
        url("https://use.typekit.net/af/ac3b6f/00000000000000007735ded0/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i1&v=3")
            format("opentype");
    font-display: swap;
    font-style: italic;
    font-weight: 100;
    font-stretch: normal;
}

@font-face {
    font-family: "quasimoda-2";
    src: url("https://use.typekit.net/af/f8929c/00000000000000007735ded7/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/f8929c/00000000000000007735ded7/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3")
            format("woff"),
        url("https://use.typekit.net/af/f8929c/00000000000000007735ded7/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n1&v=3")
            format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 100;
    font-stretch: normal;
}

@font-face {
    font-family: "quasimoda-2";
    src: url("https://use.typekit.net/af/3c41b9/00000000000000007735dede/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/3c41b9/00000000000000007735dede/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
            format("woff"),
        url("https://use.typekit.net/af/3c41b9/00000000000000007735dede/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n9&v=3")
            format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 900;
    font-stretch: normal;
}

@font-face {
    font-family: "quasimoda-2";
    src: url("https://use.typekit.net/af/112031/00000000000000007735decf/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/112031/00000000000000007735decf/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3")
            format("woff"),
        url("https://use.typekit.net/af/112031/00000000000000007735decf/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i9&v=3")
            format("opentype");
    font-display: swap;
    font-style: italic;
    font-weight: 900;
    font-stretch: normal;
}

@font-face {
    font-family: "quasimoda";
    src: url("https://use.typekit.net/af/80ed87/00000000000000007735ded8/30/l?subset_id=2&fvd=n2&v=3") format("woff2"),
        url("https://use.typekit.net/af/80ed87/00000000000000007735ded8/30/d?subset_id=2&fvd=n2&v=3") format("woff"),
        url("https://use.typekit.net/af/80ed87/00000000000000007735ded8/30/a?subset_id=2&fvd=n2&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 200;
    font-stretch: normal;
}

@font-face {
    font-family: "quasimoda";
    src: url("https://use.typekit.net/af/432517/00000000000000007735ded5/30/l?subset_id=2&fvd=i2&v=3") format("woff2"),
        url("https://use.typekit.net/af/432517/00000000000000007735ded5/30/d?subset_id=2&fvd=i2&v=3") format("woff"),
        url("https://use.typekit.net/af/432517/00000000000000007735ded5/30/a?subset_id=2&fvd=i2&v=3") format("opentype");
    font-display: swap;
    font-style: italic;
    font-weight: 200;
    font-stretch: normal;
}

@font-face {
    font-family: "quasimoda";
    src: url("https://use.typekit.net/af/357600/00000000000000007735dee1/30/l?subset_id=2&fvd=n2&v=3") format("woff2"),
        url("https://use.typekit.net/af/357600/00000000000000007735dee1/30/d?subset_id=2&fvd=n2&v=3") format("woff"),
        url("https://use.typekit.net/af/357600/00000000000000007735dee1/30/a?subset_id=2&fvd=n2&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 200;
    font-stretch: normal;
}

@font-face {
    font-family: "quasimoda";
    src: url("https://use.typekit.net/af/bd0877/00000000000000007735dee0/30/l?subset_id=2&fvd=n3&v=3") format("woff2"),
        url("https://use.typekit.net/af/bd0877/00000000000000007735dee0/30/d?subset_id=2&fvd=n3&v=3") format("woff"),
        url("https://use.typekit.net/af/bd0877/00000000000000007735dee0/30/a?subset_id=2&fvd=n3&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
}

@font-face {
    font-family: "quasimoda";
    src: url("https://use.typekit.net/af/fda6bf/00000000000000007735dee2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/fda6bf/00000000000000007735dee2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("woff"),
        url("https://use.typekit.net/af/fda6bf/00000000000000007735dee2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3")
            format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "quasimoda";
    src: url("https://use.typekit.net/af/eba4b9/00000000000000007735dedf/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/eba4b9/00000000000000007735dedf/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
            format("woff"),
        url("https://use.typekit.net/af/eba4b9/00000000000000007735dedf/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3")
            format("opentype");
    font-display: swap;
    font-style: italic;
    font-weight: 400;
    font-stretch: normal;
}

@font-face {
    font-family: "quasimoda";
    src: url("https://use.typekit.net/af/e1ca79/00000000000000007735deda/30/l?subset_id=2&fvd=n5&v=3") format("woff2"),
        url("https://use.typekit.net/af/e1ca79/00000000000000007735deda/30/d?subset_id=2&fvd=n5&v=3") format("woff"),
        url("https://use.typekit.net/af/e1ca79/00000000000000007735deda/30/a?subset_id=2&fvd=n5&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
}

@font-face {
    font-family: "quasimoda";
    src: url("https://use.typekit.net/af/9f95de/00000000000000007735dedb/30/l?subset_id=2&fvd=n6&v=3") format("woff2"),
        url("https://use.typekit.net/af/9f95de/00000000000000007735dedb/30/d?subset_id=2&fvd=n6&v=3") format("woff"),
        url("https://use.typekit.net/af/9f95de/00000000000000007735dedb/30/a?subset_id=2&fvd=n6&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
}

@font-face {
    font-family: "quasimoda";
    src: url("https://use.typekit.net/af/4fe93d/00000000000000007735dedd/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/4fe93d/00000000000000007735dedd/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
            format("woff"),
        url("https://use.typekit.net/af/4fe93d/00000000000000007735dedd/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
            format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "quasimoda";
    src: url("https://use.typekit.net/af/c62fe0/00000000000000007735ded2/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
            format("woff2"),
        url("https://use.typekit.net/af/c62fe0/00000000000000007735ded2/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
            format("woff"),
        url("https://use.typekit.net/af/c62fe0/00000000000000007735ded2/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3")
            format("opentype");
    font-display: swap;
    font-style: italic;
    font-weight: 700;
    font-stretch: normal;
}

@font-face {
    font-family: "quasimoda";
    src: url("https://use.typekit.net/af/af2a98/00000000000000007735ded3/30/l?subset_id=2&fvd=n8&v=3") format("woff2"),
        url("https://use.typekit.net/af/af2a98/00000000000000007735ded3/30/d?subset_id=2&fvd=n8&v=3") format("woff"),
        url("https://use.typekit.net/af/af2a98/00000000000000007735ded3/30/a?subset_id=2&fvd=n8&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    font-stretch: normal;
}

@font-face {
    font-family: "quasimoda";
    src: url("https://use.typekit.net/af/0c67f2/00000000000000007735dedc/30/l?subset_id=2&fvd=n8&v=3") format("woff2"),
        url("https://use.typekit.net/af/0c67f2/00000000000000007735dedc/30/d?subset_id=2&fvd=n8&v=3") format("woff"),
        url("https://use.typekit.net/af/0c67f2/00000000000000007735dedc/30/a?subset_id=2&fvd=n8&v=3") format("opentype");
    font-display: swap;
    font-style: normal;
    font-weight: 800;
    font-stretch: normal;
}
